<div class="tophead-inner cf">
					<a class="menu-toggle" ng-click="menuToggle()" href="" title="Close" ng-class="{true: 'active', false: ''}[sidemenu]"><span>Close</span></a>					
					<ul class="headLink">
						<li><a href="#/dashboard" title="Your Activities">Your Activities</a></li>
						<li><a href="#/profile" title="Profile">Profile</a></li>
						<li><a href="" ng-click="logout();" title="Log out">Log out</a></li>
					</ul>
					<form class="search-form">
						<a class="searchIcon" href="" title="Search">Search</a>
						<div class="search-frmrow">
							<input type="text" placeholder="SEARCH" />
							<button class="search-btn" type="submit">Search</button>
						</div>					
					</form>
				</div>