<div id="wrapper" ng-class="{true: 'openMenu', false: ''}[sidemenu]">
    <ng-include src="'partials/sidebar.html'"></ng-include>	
	<!-- start content -->
	<div id="container">
		<div class="main-content cf">
			<ng-include src="'partials/content-tophead.html'"></ng-include>
			<div class="inner-banner"></div>			
			<div class="dashboard-page content-area cf">
				<section class="dashboard-wide">
					<div class="dashboard-activity">
						<div class="dashboard-heading cf">
							<h2>You Have 2 Activities for Today</h2>
							<a class="link" href="#/calender" title="Go to Calendar">Go to Calendar</a>
						</div>
						<div class="discussion-content">
							<ul class="todayact-list">
								<li>
									<div class="todayact-row cf">
										<div class="todayact-title">
											<a href="" title="Activity Name">Activity Name</a>
										</div>
										<div class="todayact-timing">
											<div class="timing-row"><span>Time:</span> Morning</div>
											<div class="timing-row"><span>Date:</span> 01.01.2016</div>
											<div class="timing-row"><span>Courses:</span> Sumer Program</div>
											<div class="timing-row"><span>Creator:</span> User Name</div>
										</div>
										<div class="todayact-smalldesc">
											<p>It should cover general announcements about Kids U such as upcoming Holidays and details regarding them, school specific activities happening that day or in days to come, faculty related news/ reminders. It should cover general announcements about Kids U such as upcoming Holidays and details regarding them, school specific activities happening that day or in days to come, faculty related news/ reminders.</p>
										</div>
									</div>
								</li>
								<li>
									<div class="todayact-row cf">
										<div class="todayact-title">
											<a href="" title="Activity Name">Activity Name</a>
										</div>
										<div class="todayact-timing">
											<div class="timing-row"><span>Time:</span> Morning</div>
											<div class="timing-row"><span>Date:</span> 01.01.2016</div>
											<div class="timing-row"><span>Courses:</span> Sumer Program</div>
											<div class="timing-row"><span>Creator:</span> User Name</div>
										</div>
										<div class="todayact-smalldesc">
											<p>It should cover general announcements about Kids U such as upcoming Holidays and details regarding them, school specific activities happening that day or in days to come, faculty related news/ reminders. It should cover general announcements about Kids U such as upcoming Holidays and details regarding them, school specific activities happening that day or in days to come, faculty related news/ reminders.</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="dashadded-activity">
						<div class="dashboard-heading cf">
							<h2>Last 5 Added Activities</h2>
							<a class="link" href="" title="Go to Activities">Go to Activities</a>
						</div>
						<div class="discussion-content">
							<ul class="lastact-addedlist">
								<li>
									<div class="lastact-row cf">
										<div class="lastact-title">
											<a href="" title="Activity Title">Activity Title</a>
										</div>
										<div class="lastact-details">
											<div class="lastact-col lastact-time">Time: Morning</div>
											<div class="lastact-col lastact-date">Date: 01.01.2016.</div>
											<div class="lastact-col lastact-courses">Courses: Infants</div>
											<div class="lastact-col lastact-creator">Creator: User Name</div>
										</div>
									</div>
								</li>
								<li>
									<div class="lastact-row cf">
										<div class="lastact-title">
											<a href="" title="Activity Title">Activity Title</a>
										</div>
										<div class="lastact-details">
											<div class="lastact-col lastact-time">Time: Morning</div>
											<div class="lastact-col lastact-date">Date: 01.01.2016.</div>
											<div class="lastact-col lastact-courses">Courses: Infants</div>
											<div class="lastact-col lastact-creator">Creator: User Name</div>
										</div>
									</div>
								</li>
								<li>
									<div class="lastact-row cf">
										<div class="lastact-title">
											<a href="" title="Activity Title">Activity Title</a>
										</div>
										<div class="lastact-details">
											<div class="lastact-col lastact-time">Time: Morning</div>
											<div class="lastact-col lastact-date">Date: 01.01.2016.</div>
											<div class="lastact-col lastact-courses">Courses: Infants</div>
											<div class="lastact-col lastact-creator">Creator: User Name</div>
										</div>
									</div>
								</li>
								<li>
									<div class="lastact-row cf">
										<div class="lastact-title">
											<a href="" title="Activity Title">Activity Title</a>
										</div>
										<div class="lastact-details">
											<div class="lastact-col lastact-time">Time: Morning</div>
											<div class="lastact-col lastact-date">Date: 01.01.2016.</div>
											<div class="lastact-col lastact-courses">Courses: Infants</div>
											<div class="lastact-col lastact-creator">Creator: User Name</div>
										</div>
									</div>
								</li>
								<li>
									<div class="lastact-row cf">
										<div class="lastact-title">
											<a href="" title="Activity Title">Activity Title</a>
										</div>
										<div class="lastact-details">
											<div class="lastact-col lastact-time">Time: Morning</div>
											<div class="lastact-col lastact-date">Date: 01.01.2016.</div>
											<div class="lastact-col lastact-courses">Courses: Infants</div>
											<div class="lastact-col lastact-creator">Creator: User Name</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="dashboard-lastview">
						<div class="dashboard-heading cf">
							<h2>Last Viewed Article</h2>
							<a class="link" href="" title="View Article">View Article</a>
						</div>
						<div class="discussion-content">
							<ul class="todayact-list">
								<li>
									<div class="todayact-row cf">
										<div class="todayact-title">
											<a href="" title="Activity Name">Activity Name</a>
										</div>
										<div class="todayact-timing">
											<div class="timing-row">by User Name</div>
											<div class="timing-row">01.01.2016</div>
										</div>
										<div class="todayact-smalldesc">
											<p>Name, Email, Phone Number, About Me, Picture, Designation, Education, Username, Password, Request for Category (check box options),  Fields: Name, Email, Phone Number, About Me, Picture, Designation, Education, Username, Password, Request for Category (check box options),Name, Email, Phone Number, About Me, Picture, Designation, Education, Username, Password, Request for Category (check box options),  Fields: Name, Email, Phone Number, About Me, Picture, Designation, Education, Username, Password, Request for Category (check box options),</p>
										</div>
									</div>
								</li>								
							</ul>
						</div>
					</div>
					<div class="dashboard-announce">
						<div class="dashboard-heading cf">
							<h2>Announcements</h2>
							<a class="link" href="" title="Go on Announcements Page">Go on Announcements Page</a>
						</div>
						<div class="discussion-content">
							<ul class="todayact-list">
								<li>
									<div class="todayact-row cf">
										<div class="todayact-title">
											<a href="" title="Announcements Title">Announcements Title</a>
										</div>
										<div class="todayact-timing">
											<div class="timing-row">01.01.2016</div>
										</div>
										<div class="todayact-smalldesc">
											<p>Name, Email, Phone Number, About Me, Picture, Designation, Education, Username, Password, Request for Category (check box options),  Fields: Name, Email, Phone Number, About Me, Picture, Designation, Education, Username, Password, Request for Category (check box options), <a class="link" title="read more">read more</a></p>
										</div>
									</div>
								</li>								
							</ul>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- end content -->
	
	<!-- start footer -->
	<footer id="footer"></footer>
	<!-- end footer -->
</div>
</div>