<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<link rel="stylesheet" type="text/css" href="css/styles.css" />
<link rel="stylesheet" type="text/css" href="css/responsive.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/modernizr.js"></script>
<script type="text/javascript" src="js/general.js"></script>
</head>
<body class="discussion-page">
<div id="wrapper">
	<div class="wrap-sidebar">
		<div class="wrapside-inner">
			<!-- start header -->
			<header id="header">
				<!-- start logo -->
				<h1 id="logo">
					<a href="#" title="Logo Name"><img src="img/logo.png" alt="Logo Name" title="Logo Name" ></a>
				</h1>
				<!-- end logo -->				
				<span class="welcome-msg">Welcome back, Donya Ferris</span>
			</header>
			<!-- end header -->
			<nav class="leftmenu">				
				<ul id="mainNav" class="mainNav">
					<li><a href="#" title="Dashboard"><span>Dashboard</span></a></li>
					<li><a href="#" title="Calendar"><span>Calendar</span></a></li>
					<li><a href="#" title="Discussion"><span>Discussion</span></a></li>
					<li><a href="#" title="Infants"><span>Infants</span></a></li>
					<li><a href="#" title="Jr. Preschool"><span>Jr. Preschool</span></a>
						<ul class="left-submenu">
							<li><a href="#" title="Left Brain"><span>Left Brain</span></a>
								<ul class="left-submenu">
									<li><a href="#" title="Sub Category"><span>Sub Category</span></a>
										<ul class="left-submenu">
											<li><a href="#" title="Sub Sub Category"><span>Sub Sub Category</span></a></li>
											<li><a href="#" title="Sub Sub Category"><span>Sub Sub Category</span></a></li>
										</ul>
									</li>
									<li><a href="#" title="Sub Category"><span>Sub Category</span></a>
										<ul class="left-submenu">
											<li><a href="#" title="Sub Sub Category"><span>Sub Sub Category</span></a></li>
											<li><a href="#" title="Sub Sub Category"><span>Sub Sub Category</span></a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="#" title="Right Brain"><span>Right Brain</span></a>
								<ul class="left-submenu">
									<li><a href="#" title="Sub Category"><span>Sub Category</span></a>
										<ul class="left-submenu">
											<li><a href="#" title="Sub Sub Category"><span>Sub Sub Category</span></a></li>
											<li><a href="#" title="Sub Sub Category"><span>Sub Sub Category</span></a></li>
										</ul>
									</li>
									<li><a href="#" title="Sub Category"><span>Sub Category</span></a>
										<ul class="left-submenu">
											<li><a href="#" title="Sub Sub Category"><span>Sub Sub Category</span></a></li>
											<li><a href="#" title="Sub Sub Category"><span>Sub Sub Category</span></a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="#" title="Preschool"><span>Preschool</span></a></li>
					<li><a href="#" title="Kindergarten"><span>Kindergarten</span></a></li>
					<li><a href="#" title="Multi-Media"><span>Multi-Media</span></a></li>
					<li><a href="#" title="Recent Studies"><span>Recent Studies</span></a></li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- start content -->
	<div id="container">
		<div class="main-content cf">
			<div class="content-tophead">
				<div class="tophead-inner cf">
					<a class="menu-toggle" href="#" title="Close"><span>Close</span></a>					
					<ul class="headLink">
						<li><a href="#" title="Your Activities">Your Activities</a></li>
						<li><a href="#" title="Profile">Profile</a></li>
						<li><a href="#" title="Log out">Log out</a></li>
					</ul>
					<form class="search-form">
						<a class="searchIcon" href="#" title="Search">Search</a>
						<div class="search-frmrow">
							<input type="text" placeholder="SEARCH" />
							<button class="search-btn" type="submit">Search</button>
						</div>					
					</form>
				</div>
			</div>
			<div class="inner-banner discussion-banner"></div>			
			<div class="content-area cf">
				<section class="discussion-wide">
					<div class="page-title cf">
						<h2>Discussion</h2>
						<ul class="breadcrumbs cf">
							<li><a href="#" title="Topic Title">Topic Title</a></li>
							<li><a href="#" title="Subtitle">Subtitle</a></li>
							<li><span>Subsubtitle</span>
						</ul>
						<a class="btn reply-btn" href="#" title="Reply">Reply</a>
					</div>
					<ul class="discussion-list">
						<li>
							<div class="discussion-row cf">
								<div class="disc-col disc-col1">
									<a class="disc-title" href="#" title="Discuss Title">Discuss Title</a>
								</div>
								<div class="disc-col disc-col2">
									Started by User Name,  01.01.2016.
								</div>
								<div class="disc-col disc-col3">
									7 replies
								</div>
								<div class="disc-col disc-col4">
									472 views
								</div>
								<div class="disc-col disc-col5">
									Last post by User Name, 01.01.2016
								</div>
							</div>
						</li>
						<li>
							<div class="discussion-row cf">
								<div class="disc-col disc-col1">
									<a class="disc-title" href="#" title="Discuss Title">Discuss Title</a>
								</div>
								<div class="disc-col disc-col2">
									Started by User Name,  01.01.2016.
								</div>
								<div class="disc-col disc-col3">
									7 replies
								</div>
								<div class="disc-col disc-col4">
									472 views
								</div>
								<div class="disc-col disc-col5">
									Last post by User Name, 01.01.2016
								</div>
							</div>
						</li>
						<li>
							<div class="discussion-row cf">
								<div class="disc-col disc-col1">
									<a class="disc-title" href="#" title="Discuss Title">Discuss Title</a>
								</div>
								<div class="disc-col disc-col2">
									Started by User Name,  01.01.2016.
								</div>
								<div class="disc-col disc-col3">
									7 replies
								</div>
								<div class="disc-col disc-col4">
									472 views
								</div>
								<div class="disc-col disc-col5">
									Last post by User Name, 01.01.2016
								</div>
							</div>
						</li>
						<li>
							<div class="discussion-row cf">
								<div class="disc-col disc-col1">
									<a class="disc-title" href="#" title="Discuss Title">Discuss Title</a>
								</div>
								<div class="disc-col disc-col2">
									Started by User Name,  01.01.2016.
								</div>
								<div class="disc-col disc-col3">
									7 replies
								</div>
								<div class="disc-col disc-col4">
									472 views
								</div>
								<div class="disc-col disc-col5">
									Last post by User Name, 01.01.2016
								</div>
							</div>
						</li>
						<li>
							<div class="discussion-row cf">
								<div class="disc-col disc-col1">
									<a class="disc-title" href="#" title="Discuss Title">Discuss Title</a>
								</div>
								<div class="disc-col disc-col2">
									Started by User Name,  01.01.2016.
								</div>
								<div class="disc-col disc-col3">
									7 replies
								</div>
								<div class="disc-col disc-col4">
									472 views
								</div>
								<div class="disc-col disc-col5">
									Last post by User Name, 01.01.2016
								</div>
							</div>
						</li>
						<li>
							<div class="discussion-row cf">
								<div class="disc-col disc-col1">
									<a class="disc-title" href="#" title="Discuss Title">Discuss Title</a>
								</div>
								<div class="disc-col disc-col2">
									Started by User Name,  01.01.2016.
								</div>
								<div class="disc-col disc-col3">
									7 replies
								</div>
								<div class="disc-col disc-col4">
									472 views
								</div>
								<div class="disc-col disc-col5">
									Last post by User Name, 01.01.2016
								</div>
							</div>
						</li>
						<li>
							<div class="discussion-row cf">
								<div class="disc-col disc-col1">
									<a class="disc-title" href="#" title="Discuss Title">Discuss Title</a>
								</div>
								<div class="disc-col disc-col2">
									Started by User Name,  01.01.2016.
								</div>
								<div class="disc-col disc-col3">
									7 replies
								</div>
								<div class="disc-col disc-col4">
									472 views
								</div>
								<div class="disc-col disc-col5">
									Last post by User Name, 01.01.2016
								</div>
							</div>
						</li>
						<li>
							<div class="discussion-row cf">
								<div class="disc-col disc-col1">
									<a class="disc-title" href="#" title="Discuss Title">Discuss Title</a>
								</div>
								<div class="disc-col disc-col2">
									Started by User Name,  01.01.2016.
								</div>
								<div class="disc-col disc-col3">
									7 replies
								</div>
								<div class="disc-col disc-col4">
									472 views
								</div>
								<div class="disc-col disc-col5">
									Last post by User Name, 01.01.2016
								</div>
							</div>
						</li>
						<li>
							<div class="discussion-row cf">
								<div class="disc-col disc-col1">
									<a class="disc-title" href="#" title="Discuss Title">Discuss Title</a>
								</div>
								<div class="disc-col disc-col2">
									Started by User Name,  01.01.2016.
								</div>
								<div class="disc-col disc-col3">
									7 replies
								</div>
								<div class="disc-col disc-col4">
									472 views
								</div>
								<div class="disc-col disc-col5">
									Last post by User Name, 01.01.2016
								</div>
							</div>
						</li>
						<li>
							<div class="discussion-row cf">
								<div class="disc-col disc-col1">
									<a class="disc-title" href="#" title="Discuss Title">Discuss Title</a>
								</div>
								<div class="disc-col disc-col2">
									Started by User Name,  01.01.2016.
								</div>
								<div class="disc-col disc-col3">
									7 replies
								</div>
								<div class="disc-col disc-col4">
									472 views
								</div>
								<div class="disc-col disc-col5">
									Last post by User Name, 01.01.2016
								</div>
							</div>
						</li>
					</ul>
					<div class="paggerRow">
						<ul class="pagger">
							<li><a href="#" title="1">1</a></li>
							<li><a href="#" title="2">2</a></li>
							<li><a href="#" title="3">3</a></li>
						</ul>
						<a class="pagerNext" href="#" title="Next">Next</a>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- end content -->
	
	<!-- start footer -->
	<footer id="footer"></footer>
	<!-- end footer -->
</div>

<div id="reply-popup" class="reply-popup">
	<div class="replypopup-inner">
		<div class="reply-form">
			<div class="replyTitle">
				<h3>Reply</h3>
				<a class="close-reply" href="#" title="Close">Close</a>
			</div>
			<div class="reply-textarea">
				<textarea placeholder="Reply text">Reply text</textarea>
				<div class="addreply-row cf">
					<button class="btn addreply-btn" type="button">Add Reply</button>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
