<div class="wrap-sidebar" ng-show="sidemenu">
		<div class="wrapside-inner">
			<!-- start header -->
			<header id="header">
				<!-- start logo -->
				<h1 id="logo">
					<a href="" title="Logo Name"><img src="img/logo.png" alt="Logo Name" title="Logo Name" ></a>
				</h1>
				<!-- end logo -->				
				<span class="welcome-msg">Welcome back, {{display_name}}</span>
			</header>
			<!-- end header -->
			<div class="leftmenu">				
				<ul id="mainNav" class="mainNav">
					<li><a href="#/dashboard" title="Dashboard"><span>Dashboard</span></a></li>
					<li><a href="#/calender" title="Calendar"><span>Calendar</span></a></li>
					<li><a href="" title="Discussion"><span>Discussion</span></a></li>
					<li><a href="" title="Infants"><span>Infants</span></a></li>
					<li><a href="" title="Jr. Preschool"><span>Jr. Preschool</span></a>
						<ul class="left-submenu">
							<li><a href="" title="Left Brain"><span>Left Brain</span></a>
								<ul class="left-submenu">
									<li><a href="" title="Sub Category"><span>Sub Category</span></a>
										<ul class="left-submenu">
											<li><a href="" title="Sub Sub Category"><span>Sub Sub Category</span></a></li>
											<li><a href="" title="Sub Sub Category"><span>Sub Sub Category</span></a></li>
										</ul>
									</li>
									<li><a href="" title="Sub Category"><span>Sub Category</span></a>
										<ul class="left-submenu">
											<li><a href="" title="Sub Sub Category"><span>Sub Sub Category</span></a></li>
											<li><a href="" title="Sub Sub Category"><span>Sub Sub Category</span></a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="" title="Right Brain"><span>Right Brain</span></a>
								<ul class="left-submenu">
									<li><a href="" title="Sub Category"><span>Sub Category</span></a>
										<ul class="left-submenu">
											<li><a href="" title="Sub Sub Category"><span>Sub Sub Category</span></a></li>
											<li><a href="" title="Sub Sub Category"><span>Sub Sub Category</span></a></li>
										</ul>
									</li>
									<li><a href="" title="Sub Category"><span>Sub Category</span></a>
										<ul class="left-submenu">
											<li><a href="" title="Sub Sub Category"><span>Sub Sub Category</span></a></li>
											<li><a href="" title="Sub Sub Category"><span>Sub Sub Category</span></a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="" title="Preschool"><span>Preschool</span></a></li>
					<li><a href="" title="Kindergarten"><span>Kindergarten</span></a></li>
					<li><a href="" title="Multi-Media"><span>Multi-Media</span></a></li>
					<li><a href="" title="Recent Studies"><span>Recent Studies</span></a></li>
				</ul>
			</div>
		</div>
	</div>